
.innerDiv{
    
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    
}
#sketch-container{
    max-height: 100vh;
    white-space: nowrap;
    text-align: center;
    
}
.container>input{
    width: 50%;
}