
.innerDiv{
    
    display: inline-block;
    
    
    margin: 0;
    
}
#sketch-container{
    height: 600px;
    width: 600px;
    white-space: nowrap;
    border-style: solid;
    
}
#gridSize{
    width: 50%;
}